:root {
  --pink: #e394ab;
  --pink__dark: #b27587;
  --green: #73bbaa;
  --red: #e66256;
  --yellow: #f6da76;
  --blue: #5853c5;
  --blue__light: #6c66ce;
  --blue__dark: #322ca9;
  --font: 'IBM Plex Sans', sans-serif;
  --font__style: 'Handlee', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--pink);
  line-height: 1.5;
}

#sections h1,
#sections h2,
#sections h3 {
  font-family: var(--font__style);
  text-transform: uppercase;
}

#sections {
  font-family: var(--font);
}

#top img {
  width: 100%;
  display: block;
}
#top .m {
  display: none;
}

#sections {
  padding: 0 1em;
}

section {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  padding: 0.5em;
  max-width: 1020px;
  margin: 2em auto;
}

section .inner {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  background: white;
  padding: 1em;
}

section h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

section p {
  margin-top: 1em;
}

section a {
  color: inherit;
  text-decoration: underline;
}

.sponsor-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1em;
  margin-top: 1em;
}

.sponsor-list img {
  display: block;
  width: 100%;
}

.sponsor-event #sponsor-toggle {
  margin-top: 1em;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.sponsor-event article,
.sponsor-event .finger {
  display: none;
}

.sponsor-event article.on,
.sponsor-event .finger.on {
  display: inline-block;
}

.bottom img {
  display: block;
  width: 75px;
  margin: 0 auto;
}

dt {
  margin-top: 1em;
  font-weight: bold;
}

.workshop,
.talk {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-gap: 1em;
}

.workshop h2,
.talk h2 {
  font-size: 1.5em;
}

.workshop small,
.talk small {
  display: block;
  margin: 1rem 0;
  color: #7d8e94;
  font-style: italic;
}
.links a {
  background: black;
  color: white;
  padding: 0.75em 0.75em 0.5em 0.75em;
  display: inline-block;
  margin-right: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font__style);
  border-radius: 8px 2px 8px 2px/2px 8px 2px 8px;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 800px) {
  #top img.d {
    display: none;
  }
  #top .m {
    display: block;
  }
  section h1 {
    font-size: 1.25em;
  }
  .sponsor-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .workshop,
  .talk {
    grid-template-columns: 1fr;
  }
  .workshop h2,
  .talk h2 {
    font-size: 1.5em;
  }
  .workshop img,
  .talk img {
    height: 125px;
  }
  .links a {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 400px) {
  .sponsor-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
