<div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 lg:mt-5 sm:grid-cols-2 lg:grid-cols-3">
    {% for event in events %}
        <a class="max-w rounded overflow-hidden shadow-lg border border-gray-200 dark:border-gray-600
        {% if event.highlight %}bg-indigo-600 text-white{% else %}bg-gray-200{% endif %}" href="{{event.url}}">
        <div class="px-6 py-4">
            <div class="font-bold text-xl my-2">
            {{ event.name }}
            </div>
            <div class="pt-2">
            <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 {% if event.highlight %}bg-white text-gray-700{% else %}bg-indigo-600 text-white{% endif %}">{{ event.date | date: "%B %e %Y" }}</span>
            <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 {% if event.highlight %}bg-white text-gray-700{% else %}bg-indigo-600 text-white{% endif %}">{{ event.location }}</span>
            </div>
        </div>
        </a>
    {% endfor %}
</div>
