<div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 lg:mt-5 sm:grid-cols-2 lg:grid-cols-3">
    {% for event in events %}
        <a class="max-w rounded overflow-hidden border border-green-800
        {% if event.highlight %}bg-green-800 text-white{% else %}bg-yellow-100{% endif %}" href="{{event.url}}">
        <div class="px-6 py-4">
            <div class="text-xl my-2 uppercase">{{ event.name }}</div>
            <div class="pt-2">
                <span class="inline-block rounded-full px-3 py-1 text-sm mr-2 mb-2 text-green-800 bg-yellow-100 {% unless event.highlight %}border border-green-800{% endunless %}">{{ event.date | date: "%B %e %Y" }}</span>
                <span class="inline-block rounded-full px-3 py-1 text-sm mr-2 mb-2 text-green-800 bg-yellow-100 {% unless event.highlight %}border border-green-800{% endunless %}">{{ event.location }}</span>
            </div>
        </div>
        </a>
    {% endfor %}
</div>
