<div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 lg:mt-5 sm:grid-cols-2 lg:grid-cols-3">
    {% for event in events %}
        <a class="tw-card" href="{{event.url}}">
        <div class="px-6 py-4">
            <div class="text-lg my-2 font-display">{{ event.name }}</div>
            <div class="pt-2">
                <span class="tw-tag {% if event.highlight %}tw-tag-primary{% else %}tw-tag-secondary{% endif %}">{{ event.date | date: "%B %e %Y" }}</span>
                <span class="tw-tag {% if event.highlight %}tw-tag-primary{% else %}tw-tag-secondary{% endif %}">{{ event.location }}</span>
            </div>
        </div>
        </a>
    {% endfor %}
</div>
