<div class="bg-white border-t border-gray-200">
  <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a href="/search" class="text-base leading-6 text-gray-500 hover:text-gray-900">Search</a>
      </div>
      <div class="px-5 py-2">
        <a href="/run" class="text-base leading-6 text-gray-500 hover:text-gray-900">Run Your Own Event</a>
      </div>
      <div class="px-5 py-2">
        <a href="mailto:kevin@yougotthis.io" class="text-base leading-6 text-gray-500 hover:text-gray-900">Sponsorship Enquiries</a>
      </div>
      <div class="px-5 py-2">
        <a href="/feed.xml" class="text-base leading-6 text-gray-500 hover:text-gray-900">RSS</a>
      </div>
      <div class="px-5 py-2">
        <a href="/api" class="text-base leading-6 text-gray-500 hover:text-gray-900">API</a>
      </div>
    </nav>
    <div class="mt-8 flex justify-center">
      <a href="mailto:kevin@yougotthis.io" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Email</span>
        <svg class='h-6 w-6' viewBox="0 0 512 512">
          <rect width="512" height="512" rx="15%" fill="currentColor"/>
          <rect width="356" height="256" x="78" y="128" fill="#fff" rx="8%"/>
          <path fill="none" stroke="currentColor" stroke-width="20" d="M434 128L269 292c-7 8-19 8-26 0L78 128m0 256l129-128m227 128L305 256"/>
        </svg>
      </a>
      <a href="/twitter" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Twitter</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
        </svg>
      </a>
      <a href="/github" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">GitHub</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
      </a>
      <a href="/discord" class="ml-6 text-gray-400 hover:text-gray-500">
        <span class="sr-only">Discord</span>
        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 512 512">
          <rect width="512" height="512" rx="15%"/>
          <path d="m346 392-21-25c41-11 57-39 57-39-52 49-194 51-249 0 0 0 14 26 56 39l-23 25c-70-1-97-48-97-48 0-104 46-187 46-187 47-33 90-33 90-33l3 4c-58 16-83 42-83 42 68-46 208-42 263 0 1-1-33-28-86-42l5-4s43 0 90 33c0 0 46 83 46 187 0 0-27 47-97 48z" fill="#fff"/>
          <ellipse cx="196" cy="279" rx="33" ry="35"/>
          <ellipse cx="312" cy="279" rx="33" ry="35"/>
        </svg>
      </a>
    </div>
    <div class="mt-8">
      <p class="text-center text-base leading-6 text-gray-500">
        You Got This is a network of community conferences focused on core, non-technical skills coordinated by <a href="https://twitter.com/_phzn">Kevin Lewis</a>.
      </p>
    </div>
  </div>
</div>
