<div class="relative bg-gray-100 dark:bg-gray-800 dark:border-b-2 dark:border-gray-700">
  {% comment %} Desktop Menu {% endcomment %}
  <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
    <div class="lg:w-0 lg:flex-1">
      <div class="flex items-center">
        <a href="/" class="flex items-center">
          <img class="h-8 w-auto sm:h-10" src="/assets/img/fist.svg" alt="Fist with Code Tattoo">
          <h1 class="sm:text-l lg:text-2xl pl-4 font-bold text-gray-900 dark:text-white">You Got This</h1>
        </a>
      </div>
    </div>
    <div id="mobile-menu-open" class="-mr-2 -my-2 md:hidden">
      <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Open Menu">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
    <nav class="hidden md:flex space-x-10">
      <a href="/discord" class="text-base leading-6 font-medium text-gray-500 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white focus:text-gray-900 dark:focus:text-white focus:outline-none transition ease-in-out duration-150">Discord</a>
      <a href="/twitter" class="text-base leading-6 font-medium text-gray-500 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white focus:text-gray-900 dark:focus:text-white focus:outline-none transition ease-in-out duration-150">Twitter</a>
      <a href="/blog" class="text-base leading-6 font-medium text-gray-500 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white focus:text-gray-900 dark:focus:text-white focus:outline-none transition ease-in-out duration-150">Blog</a>
    </nav>
    <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
      <a href="/conduct" class="text-base leading-6 font-medium text-gray-500 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white focus:text-gray-900 dark:focus:text-white focus:outline-none transition ease-in-out duration-150">Conduct</a>
      <span class="inline-flex rounded-md shadow-sm">
        <a href="/talks" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition ease-in-out duration-150">Talk Library</a>
      </span>
    </div>
  </div>

  {% comment %} Mobile Menu {% endcomment %}
  <div id="mobile-menu" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden hidden z-10">
    <div class="rounded-lg shadow-lg">
      <div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50 dark:bg-gray-700">
        <div class="pt-5 pb-6 px-5 space-y-6">
          <div class="flex items-center justify-between">
            <a href="/">
              <img class="h-8 w-auto" src="/assets/img/fist.svg" alt="Fist with Code Tattoo">
            </a>
            <div class="-mr-2">
              <button id="mobile-menu-close" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Close Menu">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div class="grid grid-cols-2 gap-4">
            <a href="/discord" class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 dark:text-gray-200 dark:hover:text-white transition ease-in-out duration-150">Discord</a>
            <a href="/twitter" class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 dark:text-gray-200 dark:hover:text-white transition ease-in-out duration-150">Twitter</a>
            <a href="/conduct" class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 dark:text-gray-200 dark:hover:text-white transition ease-in-out duration-150">Code of Conduct</a>
            <a href="/blog" class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 dark:text-gray-200 dark:hover:text-white transition ease-in-out duration-150">Blog</a>
          </div>
          <div class="space-y-6">
            <span class="w-full flex rounded-md shadow-sm">
              <a href="/talks" class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition ease-in-out duration-150">Talk Library</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('mobile-menu-open').addEventListener('click', () => {
  document.getElementById('mobile-menu').classList.remove('hidden')
})
document.getElementById('mobile-menu-close').addEventListener('click', () => {
  document.getElementById('mobile-menu').classList.add('hidden')
})
</script>
