<div class='my-10 lg:my-32'>
  <h2 class="text-center tracking-tight leading-2 font-extrabold text-gray-900 text-2xl sm:leading-none sm:text-3xl md:text-5xl p-4 font-display">You Got This Events</h2>
  {% include events_list %}
</div>
