<div class="bg-gray-800">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:py-12 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-white md:text-4xl">
      <a href="/couch" class="lg:block underline">You Got This From Your Couch </a>
      <span class="lg:block">is now live. Tune in now!</span>
    </h2>

    <div class="mt-4 flex lg:flex-col lg:items-end lg:mt-0 ">
      <div class="flex flex-row-reverse lg:flex-row lg:flex-shrink-0">
        <div class="mr-3 inline-flex rounded-md">
          <a href="https://fallback.yougotthis.io" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium rounded-md text-white bg-transparent hover:bg-gray-600">
            Fallback Stream Link
          </a>
        </div>
        <div class="inline-flex rounded-md shadow">
          <a href="https://live.yougotthis.io" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-800">
            Watch Live
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
