<div class='max-w-screen-xl mx-auto grid gap-4 p-4 lg:mt-32 grid-cols-2 sm:grid-cols-3 lg:grid-cols-6'>
  {% for photo in photos %}
    {% if photo.highlight %}
      <img class="relative mx-auto w-full rounded-lg shadow-lg lg:max-w-md" src="/assets/img/events/{{photo.event}}/{{photo.file}}_home.jpg" alt="{{photo.text}}">
    {% endif %}
  {% endfor %}
</div>
<span class="flex justify-center rounded-md p-4">
  <a href="/photos" class="tw-btn">All Event Photos</a>
</span>
