---
layout: base
---

<div class="relative py-16 overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
  <h1 class="tw-heading-2">{{title}}</h1>
    <div class="prose prose-lg mx-auto mt-12 dark:text-white">
      {{ content }}
    </div>
  </div>
</div>
