---
layout: base
---

<div class="relative py-16 bg-white dark:bg-gray-800 overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class='text-center tracking-tight leading-2 pb-16' >
      <h1 class="text-3xl text-gray-900 font-display dark:text-gray-200 sm:text-4xl sm:leading-none md:text-5xl">{{title}}</h1>
    </div>
    <div class="prose prose-lg dark:text-white mx-auto">
      {{ content }}
    </div>
  </div>
</div>
