@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose a,
  .prose code {
    color: white;
  }
  .prose pre {
    border: 2px solid #4a5568;
  }
}

* {
  outline: none !important
}

*:focus {
  box-shadow: 0 0 0 3px orange, 0 0 0 6px black;
}
