---
permalink: couch/
sponsor-list:
  - name: 20i
    file: 20i
    url: https://www.20i.com/
  - name: Auth0
    file: auth0
    url: https://auth0.com/
  - name: Balsamiq
    file: balsamiq
    url: https://balsamiq.com/
  - name: BuzzFeed
    file: buzzfeed
    url: https://buzzfeed.com/
  - name: CircleCI
    file: circleci
    url: https://circleci.com/
  - name: Futuregov
    file: futuregov
    url: https://www.wearefuturegov.com/
  - name: Mux
    file: mux
    url: https://mux.com/
  - name: Vonage
    file: vonage
    url: https://developer.nexmo.com/
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jan 15 & 16 2021 - You Got This From Your Couch</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://yougotthis.io/assets/couch/og.png">
  <meta name="description" content="An online community conference, which focuses on the non-technical core skills for a happy, healthy work life.">
  <meta name="og:description" content="An online community conference, which focuses on the non-technical core skills for a happy, healthy work life.">
  <meta name="monetization" content="$ilp.uphold.com/DBEbnWEmPyJJ">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✊</text></svg>">
  <link href="https://fonts.googleapis.com/css2?family=Handlee&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/couch/couch.css">
</head>
<body>
  {% include header %}
  <div id="top">
    <img src="/assets/couch/composition-circleci.png" class='d' alt="You Got This From Home Made Possible By CircleCI. January 15 & 16 2021.">
    <img src="/assets/couch/composition-mobile-circleci.png" class='m' alt="You Got This From Home Made Possible By CircleCI. January 15 & 16 2021.">
  </div>

  <div id="sections">
    <section style="background: var(--yellow)">
      <div class="inner">
        <h1>What is You Got This From Your Couch?</h1>
        <p>You Got This From Your Couch is an online community conference which focuses on the non-technical core skills for a happy, healthy work life. 3 great and affordable workshops on Friday January 15th 2021, and 9 amazing speakers and our free conference day on Saturday January 16th 2021.</p>
        <p>The all-day workshop ticket has an early-bird price of £75 until the end of November 2020.</p>
        <div class="links" style="margin-top: 1em;">
          <a href="#">Get tickets now</a>
        </div>
      </div>
    </section>

    <section style="background: white">
      <div class="inner">
        <h1>Workshop Day - Friday January 15th 2021</h1>
        <p>As part of our commitment to provide oppotunities to those who are underrepresented in tech, we are able to provide a number of all-day workshop tickets available for free. <a href="https://airtable.com/shrwGQQgPqFEkByX9">You can apply for one here</a> before the end of Sunday November 15th 2020.</p>
        <div class="workshops">
          <div class="workshop">
            <img src="/assets/couch/speakers/matt-frame.png" alt="Matt Rose">
            <div class="info">
              <h2>UX Your CV</h2>
              <p><b>This workshop will take place 10:00 - 12:00 GMT.</b></p>
              <p>"UX your CV" takes the principles and ideas we use when designing web pages or apps, and applies them to the document that we send to prospective employers when we want to work for them.</p>
              <p>There are very few unbreakable rules when writing a CV, so we'll consider your underlying objective, the realities of recruitment, and help you to feel confident making your own decisions about what to include and how to present it, and how to tailor it to specific roles.</p>
              <p>You'll have a chance to work on a draft of your CV during the workshop, so please have any previous versions accessible, and it's also useful to have a job advert or two for the kind of roles you intend to apply to, so you can practice tailoring.</p>
              <small>Matt Rose is a Technical Support Engineer at GitHub. Before that, he did a software development bootcamp and worked as a web developer.  ...and before that, he worked for 6 years as an employability skills trainer, helping people to write CVs and sell themselves to prospective employers. He likes using his old skills to help people, whether they're breaking into tech for the first time, changing career and entering tech from another industry, or just looking to level up!</small>
              <div class="links">
                <a href="#">Buy a ticket for £30</a>
                <a href="#">Buy an early-bird all day ticket for £75</a>
              </div>
            </div>
          </div>
          <div class="workshop">
            <img src="/assets/couch/speakers/claire-frame.png" alt="Claire Knight">
            <div class="info">
              <h2>Making Disagreements at Work Respectful and Productive</h2>
              <p><b>This workshop will take place 13:00 - 15:00 GMT.</b></p>
              <p>Do you want to know how disagreements can be positive? How to be respectful while disagreeing? How to get to mutual understanding through productive discussion, and hopefully to agreement on a path forward? Then this workshop could be for you! This workshop will be useful not only for code reviews and team discussions but in day to day life beyond tech. Through hands on exercise, you’ll leave the workshop with some extra tools to apply in a variety of situations, already have tried some of them out, and have further resources to look up if you want to explore this more.</p>
              <small>Claire Knight is a remote (yep, even pre-COVID) Senior Software Engineering Manager who has worked in many areas of technology over the years. She has served plenty of time in the coal code mine before making the move into also wrangling folks rather than just bits. She is currently working at GitHub where she helps devs all over the world do their best work. Claire lives in Berkshire, UK, with her husband Steve and three cats who from time to time also like to be involved in video calls. When not working, she likes to lift heavy things, only to put them down again.</small>
              <div class="links">
                <a href="#">Buy a ticket for £30</a>
                <a href="#">Buy an early-bird all day ticket for £75</a>
              </div>
            </div>
          </div>
          <div class="workshop">
            <img src="/assets/couch/speakers/emanuil-frame.png" alt="Claire Knight">
            <div class="info">
              <h2>Know Your Worth: Understanding Your Professional Value</h2>
              <p><b>This workshop will take place 16:00 - 18:00 GMT.</b></p>
              <p>Who wants to get paid more for doing their job? Most of us, naturally. At the same time we believe things like "I'm junior, and juniors get paid around £25,000 for this job".</p><p>In reality, how much you're paid for your efforts in the workplace depends on what value you provide to your employer, but also on perception - how much value they think you provide. Perception is unfortunately influenced by factors like the biases we all have, but there is still a lot you can do to change how people see you and get paid more. Sometimes, you need to negotiate - other times, you need to simply find new people who will pay you more.</p></p>Through anecdotes, practical exercises and a bit of theory, this workshop aims to provide you with a framework of thinking of yourself as a paid professional, figuring out what you can charge for your services and finding interesting, well-paid work."</p>
              <small>Emanuil Tolev is a Community Engineer with Elastic. He used to be a freelance web developer and ran a small open science web dev consultancy with partners for several years. Interested in mentorship, inclusion, small businesses, archery and always curious about how the world works in detail.</small>
              <div class="links">
                <a href="#">Buy a ticket for £30</a>
                <a href="#">Buy an early-bird all day ticket for £75</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background: var(--blue)">
      <div class="inner">
        <h1>Sponsors</h1>
        <div class="sponsor-list">
          {% for sponsor in sponsor-list %}
            <a href="{{sponsor.url}}">
              <img src="/assets/couch/sponsors/{{sponsor.file}}.png" alt="{{sponsor.name}}">
            </a>
          {% endfor %}
        </div>
        <div class="sponsor-event">
          <span id="sponsor-toggle">
            Want to sponsor?
            <span id="right" class='finger on'>👉</span>
            <span id="down" class='finger'>👇</span>
          </span>
          <article id="sponsor-info">
            <p>Sponsors allow us to keep You Got This workshops affordable and the online conference free to access. We pay our speakers, have a live captioner, and provide a number of free tickets to paid activities as part of our inclusion programme.</p>
            <p><b>Key info: </b> Expected 20-40 people in each workshop, 300 people for conference live (plus further views on-demand). Audience is a mix of primarily early-career and mid-career developers. We also have content for team leaders, though they make up a smaller amount of our audience.</p>
            <p><b>Sponsorship Tier 1 (£1,000): </b>Logo on site, in tweets of thanks, incorporated in livestream graphics, and in front/end bumpers for talk recordings. 5 min pre-recorded talking slot during conference day. Sponsor channel in community Discord during January. Can run a raffle during event.</p>
            <p><b>Sponsorship Tier 2 - One Available (£3,000): </b>Everything in Tier 1, Co-brand event (presented by ACME Corp, for example), 10 minute live talking slot on conference day.</p>
            <p><b>Extras: </b> <span class='line-through'>Pay for one day of captioning for £1,700</span> (0/2 available)</p>
            <p><b>Previous sponsors:</b> AND Digital, Auth0, Balsamiq, BuzzFeed, Contentful, DigitalOcean, DXW Digital, Futuregov, GitHub, Hired, Indee, LaunchDarkly, MongoDB, Monzo, Mozilla, Nedap, NotBinary, Proactive, Pusher, Samsung Internet, Twilio, Verge, Vonage and Wild Rocket.</p>
            <p><b>Interested?</b> We'd love to hear from you! Send an email to <a href=" mailto:kevin@yougotthis.io">kevin@yougotthis.io</a>.</p>
          </article>
        </div>
      </div>
    </section>

    <script>
      document.getElementById('sponsor-toggle').addEventListener('click', () => {
        document.getElementById('sponsor-info').classList.toggle('on')
        document.getElementById('right').classList.toggle('on')
        document.getElementById('down').classList.toggle('on')
      })
    </script>

    <section style="background: white">
      <div class="inner">
        <h1>Conference Day - Saturday January 16th 2021</h1>
        <div class="talks">
          <div class="talk">
            <img src="/assets/couch/speakers/alex-frame.png" alt="Alex Papadopoulos">
            <div class="info">
              <h2>Openly Stealth: Being Transgender at Work</h2>
              <p>Navigating being transgender anywhere is not an easy task. Let alone in the workplace. Let alone in a male-dominated field such as tech. Landing a new job after transitioning (or at any point during transitioning really) always comes accompanied with a variety of emotions. “Should I disclose my transness? If I don’t, am I lying?”, “I am afraid to tell my colleagues that I am trans, but I don’t feel okay with myself if I don’t”, “People can tell. I am a fraud.”</p>
              <p>The thoughts mentioned above, and a thousand others are very much expected and an additional stress when trying to adapt to a new workplace with new people and expectations. This talk will go through the experience of landing a new job as a transgender person, and ways to keep mental peace while doing so, as well as celebrate and showcase the importance of diversity in the workplace.</p>
              <small>Alex Papadopoulos <a href="https://twitter.com/imalexnowuk">(@imalexnowuk)</a> is a UX Designer at Reevoo and PhD Adventurer at UCL, committed to the noble cause of making the world suck less. He is founding member of Queer Wave, the first LGBTQ+ film festival in Cyprus, a peer mentor at Spectra, an organisation that helps LGBT people who need support, and part of the content design team at TransActual UK. An optimist by choice, he is always on the lookout for projects that can make the world a brighter and more equal place.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/charity-frame.png" alt="Charity Majors">
            <div class="info">
              <h2>Why We Run A Monthly Open-Door Ethics Discussion</h2>
              <p>Once a month, we set aside an hour on the calendar and talk through the most hairy, challenging questions I can think of that month. Sometimes these are ripped from the headlines (No Tech For ICE, discrimination lawsuits), sometimes they grow out of real company scenarios ("if we run low on runway, should we offer people wage cuts or do layoffs?"), sometimes pure imagination ("what if ICE wanted to become a customer of ours?").</p>
              <p>We started doing this after we realized people always respond the worst when they're taken completely off guard. While the company is not a democracy, we do care about representing the will of the team. It is also a terrific steam valve for people to feel heard about matters where they hold deep personal convictions. People are capable of stepping up and participating on even the hardest questions, but we all need practice.</p>
              <small>Charity <a href="https://twitter.com/mipsytipsy">(@mipsytipsy)</a> is co-founder and CTO of honeycomb.io</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/jeanine-frame.png" alt="Jeanine Mendez">
            <div class="info">
              <h2>Negotiating After Your Start Date</h2>
              <p>You got the job and you crushed it at the negotiating table. For most of us, we stop negotiating and advocating for ourselves after we sign on the dotted line. Internal negotiating for promotions, salary bumps, and benefits is rarely discussed but is critical to internal career advancement. In this talk we’ll discuss how and when to negotiate more benefits after your start date, tools for positioning yourself for great promotions, and the truth behind internal salary negotiations: how, when, and who to approach to bump up your salary.</p>
              <small>Jeanine Mendez <a href="https://twitter.com/j9mendez">(@j9mendez)</a> is Co-Founder and COO of KindWork, who help talented young adults from overlooked communities transform their economic outlook and launch a new career in the tech sector.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/julianne-frame.png" alt="Julianne Burke">
            <div class="info">
              <h2>How to Make an Impact as a Mentor</h2>
              <p>Mentoring has the potential to be one of the most fulfilling aspects of working as an industry professional. But how can you ensure that you make a real and lasting impact on your mentee and their future? In my talk, I will discuss some of the best ways to get to know your mentee from your initial conversation, how to set an agenda and goals for the relationship, ways to inspire compelling discussions about your mentee's future, and what practical steps you as the mentor can take on your own to be a positive influence on your mentee's career.</p>
              <small>Julianne Burke <a href="https://twitter.com/julianne_burke">(@julianne_burke)</a> is an experience designer who is passionate about exploring the potential of immersive technologies. As the Senior Interactive Designer at a digital experiences studio in San Francisco, she leads creative direction and implementation for a range of experiences, including virtual and augmented reality games, 360° green screen photo booths, and touch screen experiences. In her creative practice, Julianne focuses on opportunities to make design accessible and inclusive. Outside of work, Julianne loves mentoring other designers, creating digital zines, and exploring design’s place in politics and protest.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/malcolm-frame.png" alt="Malcolm Xavier">
            <div class="info">
              <h2>Pivot!: Changing Your Career Path</h2>
              <p>In an increasingly technological world, many professionals are seeing their career paths disappear before their eyes. As a result, many are seeking a career pivot, to change their career path, in order to stay on course for their professional futures. This talk will focus on strategies to successfully accomplish a pivot, providing resources and strategies on networking, self-advocacy, and self-care.</p>
              <p>You will walk away with communication templates for outreach such as LinkedIn cold messaging and requesting a title change at work, a list of digital communities and resources to involve themselves with in order to access new opportunities and tech industry knowledge, and techniques to take care of themselves throughout the process such as scheduling methods and mindfulness practices.</p>
              <small>Malcolm Evans is an artist and technology professional with experience across numerous subindustries, including arts, education, and hospitality. He is currently a Product Manager at User Interviews, a user research recruiting platform. Throughout his career, he has had roles on various teams on his journey to pivot into product management. In all of his work, he is an inclusion advocate and works to ensure products and experiences are built with diversity, equity, inclusion, and accessibility in mind. When he's not building tech products, he's building plays, films, and other arts experiences.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/massi-shivangi-frame.png" alt="Massi Mapani & Shivangi Sareen">
            <div class="info">
              <h2>Lessons Learnt (Hardly) Working From Home</h2>
              <p>The whole world shook when the pandemic took over and completely changed the way we live our lives. Travelling, socialising, working from the office - just basic everyday things stopped dead right in their tracks. Those of us who're able to work from home have been really lucky to do so and to have the support from the companies we work for. This experience is hard, especially for new hires to navigate and that preparation a commute gives us before we start work, gets substituted into a new routine or habit we need to take responsibility for. Our talk offers experiences, lessons and advice in hope that it encourages others and lets them know that even though it feels hard, you got this and you are not alone.</p>
              <small>Massi Mapani <a href="https://twitter.com/mas_mapani">(@mas_mapani)</a> graduated from the University of the Witwatersrand, Johannesburg, South Africa and currently working at American Express UK. She has an interest in writing, coding and financial technology. Medium writing (@africanmillennialconcepts) articles since August, 2020 on Immigration, Relocation and Fintech to provide content to better financial institutions services for the public.</small>
              <small>Shivangi Sareen <a href="https://twitter.com/SareenShivangi">(@SareenShivangi)</a> graduated in 2019 from Trinity College Dublin and moved to the UK to start at American Express. The experience has facilitated meeting talented people and acquiring knowledge in new technology domains. She writes a technical blog (Medium: @shivangisareen) and recently started blogging on her path to achieving a more sustainable lifestyle (Medium: @the-sustainable-edit). She jumps at the prospect of learning new things.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/myrsini-frame.png" alt="Myrsini Koukiasa">
            <div class="info">
              <h2>From Individual Contributor to Manager: Navigating the Shift</h2>
              <p>Becoming a people manager poses new and exciting challenges for those who have spent most of their careers in individual contributor roles. In this talk, we’ll explore themes around mentoring, delegating, leadership and more for new managers. We'll also go through practical tips for making the mental and tangible shift between the two roles as smooth as possible. This talk will be useful both for new managers and for those thinking of making the move.</p>
              <small>Myrsini Koukiasa <a href="https://twitter.com/myrsiningos">(@myrsiningos)</a> is a Senior Community Programs Manager at Vonage. She helps the Developer Relations team support, engage and connect with developer communities where they are. Her background is in events management and integrated campaigns, including roles at PayPal and Major League Hacking. She's a self-proclaimed quiz nerd with a specialty in film and TV - if you run into her, challenge her.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/olu-frame.png" alt="Olu Niyi-Awosusi">
            <div class="info">
              <h2>Building an Equitable Web</h2>
              <p>Accessible web practices - meaning here ways of building the web that allow those with impairments and disabilities to use it - might not seem like the coolest way to bring your activism to the internet, but it’s vital to having a web that works for us all.</p>
              <p>In this talk, you’ll learn how transphobia, sexism, racism, ableism, homophobia, ageism and other types of discrimination are echoed and intersect on the web, locking some of the most vulnerable people out of essential services, fun activities and vital information, and what you can do to help make the web a woker place.</p>
              <small>Olu Niyi-Awosusi <a href="https://twitter.com/oluoluoxenfree">(@oluoluoxenfree)</a> is a software engineer at the FT who loves lists, learning new things, Bee and Puppycat, and trying harder everyday.</small>
            </div>
          </div>
          <div class="talk">
            <img src="/assets/couch/speakers/suze-frame.png" alt="Suze Shardlow">
            <div class="info">
              <h2>Get It Done: The Power Of Co-Working</h2>
              <p>Do you have a pile of projects that's gathering dust?  Or a portfolio you know you need to build up, but can't seem to find the motivation?  Are you feeling the pressure because everyone around you is saying you have loads of time now you have no commute?  Let's look at how to allocate time and use co-working as a productivity tool, or even set up and run your own co-working sessions using a framework I developed in London during lockdown and has since been adopted in the USA.</p>
              <small>Suze Shardlow <a href="https://twitter.com/SuzeShardlow">(@SuzeShardlow)</a> wrote her first line of code in 1982 and started making websites in 1996.The UK education system didn't know what to do with girls interested in tech, so after a 20-year career in management, communications and strategy with organisations including the Canadian Government and Metropolitan Police, Suze pivoted her career.</small>
              <small>Suze now creates and delivers coding courses.  She is also a technical writer and event host, specialising in live tech meetups.  She is Chapter Lead at Ladies of Code London and Director at Women Who Code London.</small>
              <small>Suze has delivered 50+ online meetups during COVID-19, including 90+ hours of facilitated tech co-working sessions which supported more than 60 people through lockdown.  She designed and delivered more than 15 hours of public speaking workshops for women, then hosted an online showcase event for the "graduates".  Suze's tech community event methodologies have been replicated by tech groups in Silicon Valley, California.</small>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background: var(--green)">
      <div class="inner">
        <h1>You Got This Inclusion Programme</h1>
        <p>We've kept the workshops are affordable as possible, but we recognise not everyone can afford them. As part of our commitment to provide oppotunities to those who are underrepresented in tech, we are able to provide a number of all-day workshop tickets available for free. You can apply for a ticket before the end of Sunday November 15th 2020.</p>
        <p>These tickets are made available through sponsorship, speakers who have donated their fee, and those who donate tickets when purchasing their own or through cancellation.</p>
        <div class="links" style="margin-top: 1em;">
          <a href="https://airtable.com/shrwGQQgPqFEkByX9">Apply now</a>
        </div>
      </div>
    </section>

    <section style="background: var(--red)">
      <div class="inner">
        <h1>Frequently Asked Questions</h1>
        <dl>
          <dt>How much do tickets cost?</dt>
          <dd>The conference is free of charge. Workshop tickets are £30 each or £75 for an all-day ticket throughout the month of November. Tickets will increase in price from Tuesday December 1st 2020.</dd>
          <dt>I've got a ticket - can I tranfer it to someone else or cancel it?</dt>
          <dd>Please email <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a> and provide your ticket ID. We don't offer ticket refunds, but if you know you can no longer make it please let us know and we can make your ticket available to someone else via our inclusion programme.</dd>
          <dt>What are you doing to make this event accessible & inclusive?</dt>
          <dd>The event will be live captioned and this will be included in the stream and after the event we will provide recordings and transcripts. We are paying speakers for their time to ensure speaking is accessible to all. We are also making a number of free workshop tickets available as part of our inclusion program. We have a <a href="/conduct">Code of Conduct</a> and take the enforcement of it very seriously.</dd>
          <dt>How does your inclusion programme work?</dt>
          <dd>Our inclusion programme provides workshop tickets for those in under-represented groups in tech. This includes, but isn't limited to: LGBTQIA+ people, people of colour, women, non-binary people, and those with disabilities. The process to apply takes 5 minutes, and there will be no need to disclose any sensitive information. You can apply <a href="https://airtable.com/shrwGQQgPqFEkByX9">here</a>.</dd>
          <dt>Will the talks be recorded?</dt>
          <dd>The conference talks will be recorded, but the workshops will not be recorded.</dd>
          <dt>Can I submit a talk?</dt>
          <dd>We had open talk submissions throughout the month of September. We are not accepting any new speakers.</dd>
          <dt>Who is behind You Got This?</dt>
          <dd>You Got This is a network of community conferences facilitated by <a href="https://twitter.com/_phzn">Kevin Lewis</a>. You Got This From Your Couch replaces You Got This London 2021 and is organized by Kevin, <a href="https://twitter.com/katie_wbb">Katie Whittington</a>, <a href="https://twitter.com/MarkelaZeneli">Markela Zeneli</a> and <a href="https://twitter.com/RedRoxProjects">Amy Dickens</a>.</dd>
          <dt>How can I ask more questions?</dt>
          <dd>Send them over to <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a> and if the question is likely to be useful to others we will update this FAQ.</dd>
        </dl>
      </div>
    </section>

  </div>


  <div class="bottom">
    <img src="/assets/couch/cat.svg" alt="Cat cartoon">
  </div>

  {% include footer %}

</body>
</html>
