---
layout: base
permalink: events/
---

<h1 class="text-center tracking-tight leading-2 font-extrabold pb-10 pt-16 md:pt-10 lg:pt-16 text-3xl text-pink-600 sm:text-5xl sm:leading-none md:text-6xl ">Events</h1>

{% include events_list %}
