---
layout: base
permalink: search/
---

<div class="max-w-screen-xl mx-auto px-4" id="app">
    <h1 class="tw-heading-2 mt-12">Search</h1>

    <form class="mt-4 mb-8 flex flex-col" v-if="talks" @submit.prevent="search">
        <input aria-label="Query" class=" w-full appearance-none px-5 py-3 border-2 text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:placeholder-gray-400 focus:border-pink-600 outline-none transition duration-150 ease-in-out " required placeholder="Search term" name="query" v-model="query">
        <button type="submit" class="tw-btn w-full mt-4">Search</button>
    </form>

    <div id="results" v-if="searchMade" class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 lg:mt-5 sm:grid-cols-2 lg:grid-cols-3 mb-8">
        <a class="tw-card" :href="item.url" v-for="item in results">
            <div class="px-6 py-4 flex-grow">
                <div class="font-bold text-md my-2">[[item.talk.title ]]</div>
            </div>
        </a>
    </div>
</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
const app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    async created() {
        this.talks = await fetch('/talks.json').then(r => r.json())
        this.idx = await this.buildSearchIndex(this.talks)

        const params = Object.fromEntries(new URLSearchParams(location.search))
        if(params.q) {
            this.query = params.q
            this.search('push')
        }
    },
    data: {
        talks: [],
        idx: false,
        query: '',
        matches: [],
        searchMade: false
    },
    methods: {
        buildSearchIndex(items) {
            return new Promise((resolve, reject) => {
                const idx = lunr(function() {
                    this.ref('id')
                    this.field('speakers', { boost: 15 })
                    this.field('title', { boost: 10 })
                    this.field('original_title', { boost: 10 })
                    this.field('abstract', { boost: 5 })
                    this.field('transcript')
                    for(let talk of items) {
                        const doc = {
                            id: talk.slug,
                            title: talk.talk.title,
                            abstract: talk.talk.abstract,
                            speakers: talk.speakers.map(s => s.name).join(', '),
                            transcript: talk.transcript
                        }
                        if(talk.talk.original_title) doc.original_title = talk.talk.original_title
                        this.add(doc)
                    }
                })
                resolve(idx)
            })
        },
        search(push = false) {
            if(this.query) {
                this.matches = this.idx.search(this.query)
                this.searchMade = true
                if(push) {
                    const url = new URL(location.href)
                    url.searchParams.set('q', this.query)
                    history.pushState(null, null, url.href)
                }
            }
        }
    },
    computed: {
        results() {
            return this.matches.map(match => {
                const t = this.talks.find(talk => talk.slug == match.ref)
                return {
                    ...t,
                    talk: {
                        ...t.talk,
                        title: t.talk.title.split('&amp;').join('&')
                    }
                }
            })
        }
    }
})
</script>
