---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<div class="max-w-screen-xl mx-auto px-4">
  {% include talk_listing_top, highlight: tag %}
  <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 mt-5 mb-10 sm:grid-cols-2 lg:grid-cols-3">
    {% for talk in collections.talks %}
      {% for t in talk.data.tags %}
        {% if t == tag %}
          {% include talk_card, talk: talk %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
