---
layout: base
eleventyExcludeFromCollections: true
permalink: tags/
---

<div class="max-w-screen-xl mx-auto px-4">
  <div class='text-center tracking-tight leading-2 font-extrabold pb-10 pt-16' >
    <h1 class="text-3xl text-pink-600 sm:text-5xl sm:leading-none md:text-6xl">All Tags</h1>
  </div>
  </div>
  <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 mt-5 mb-10 sm:grid-cols-2 lg:grid-cols-3">
    {% for tag in collections.tagList %}
      <a class="max-w rounded overflow-hidden shadow-lg border border-gray-200 flex flex-col" href="/tags/{{tag}}">
        <div class="px-6 py-4 flex-grow">
            <div class="font-bold text-xl my-2">#{{ tag }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
