---
layout: base
eleventyExcludeFromCollections: true
permalink: tags/
---

<div class="max-w-screen-xl mx-auto px-4">
  <h1 class="tw-heading-2 mt-12">All Tags</h1>
  <div class="grid grid-cols-1 gap-4 max-w-screen-xl mx-auto p-4 mt-5 mb-10 sm:grid-cols-2 lg:grid-cols-3">
    {% for tag in collections.tagList %}
      <a class="tw-card" href="/tags/{{tag}}">
        <div class="px-6 py-4 flex-grow">
            <div class="font-bold text-xl my-2">#{{ tag }}</div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
